.button1{
      background-color: rgb(88, 170, 88);
      border: none;
      padding: 3px 10px;
      border-radius: 10px;
      
}
.button2{

      border: 2px solid black;
      border-radius: 10px;
      padding: 4px 50px;
      color: black;
}